/* fonts start */

@font-face {
    font-family: open-sans;
    src: url(../font/opensans.woff2);
}
@font-face {
    font-family: Amiri;
    src: url(../font/amiri-font.woff2);
}
@font-face {
    font-family: Libre Caslon Text;
    src: url(../font/libre-caslon.woff2);
}
@font-face {
    font-family: Muli;
    src: url(../font/muli-font.woff2);
}
@font-face {
    font-family: ptserif;
    src: url(../font/ptserif.woff2);
}

/* fonts end */

/*header css start*/
body {
    font-family: open-sans;
}
.logo-left {
    float: left;
    width: 25%;
}
.logo-right {
    float: right;
}
.logo-right p {
    margin-bottom: 0px;
}

.logo-right p:first-child{
    font-family: Amiri;
    font-size: 23px;
    font-weight: 400;
    letter-spacing: 1.84px;
    color: rgb(0, 189, 75);
    line-height: 23px;
    padding-top: 10px;
}
.logo-right p:last-child{
    font-family: "Libre Caslon Text";
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.12px;
    color: rgba(163, 66, 64, 0.8);
}
.navbar-nav li {
    padding-right: 10px;
}
.navbar-nav li:first-child {
    padding-left: 10px;
}
.no-sign::after {
    margin-left: 0;
    vertical-align: 0;
    content: "";
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
}
.dropdown:hover > .dropdown-menu {
    display: block;
}
.dropdown > .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}
.get-involve {
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0px;
    color: rgb(0, 189, 75);
    padding-right: 20px;
}
.get-involve:hover {
    text-decoration: none;
    color: rgb(3, 142, 58);
}
.btn-donate {
    color: #fff;
    border: rgb(0, 189, 75);
    background: rgb(0, 189, 75);
    /* font-family: "Open Sans"; */
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0px;
    border-radius: 0px;
    height: 40px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
}
.btn-donate:hover {
    color: #fff;
}
.pt-6px {
    padding-top: 6px;
}
/*header css end*/
/*footer css start*/
.bg-blue {
    background: rgb(11, 26, 49);
    color: #fff;
}
.hight-50 {
    height: 50px;
}
.fl-shiv {
    font-family: Amiri;
    padding-left: 30px;
    font-size: 48px;
    line-height: 48px;
    font-weight: 400;
    letter-spacing: 3.84px;
}
.fl-vikas {
    font-family: "Libre Caslon Text";
    padding-left: 30px;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1.92px;
}
.fmt-shiv {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    opacity: 0.7;
    border-right: 1px solid;
}
.fmb-shiv {
    font-size: 14px;
    font-weight: 400;
    width: 85%;
    letter-spacing: 0px;
}
.f-contact {
    font-size: 18px;
    padding-left: 8px;
    font-weight: 600;
    letter-spacing: 0px;
    color: rgba(255, 255, 255, 0.8);
    line-height: 28px;
}
.fa-ul li {
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgba(255, 255, 255, 0.8);
}
.fa-ul li:last-child {
    width: 70%;
}
.f-policies a {
    color: #fff;
}
.f-policies {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0px;
    color: rgba(255, 255, 255, 0.8);
}
.f-policies a:hover {
    color: #fff;
    text-decoration: none;
}
/* footer css end*/

/* home page css start */ 

/* carousel css */ 
.crsl-one img {
    height: calc(100vh - 78px) !important;
    width: 100%;
}
.crsl-one .carousel-indicators li {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #020202;
}
.crsl-one .carousel-indicators li.active {
    background-color: rgb(0, 189, 75);
}
.crsl-one .carousel-caption {
    position: absolute;
    right: 50%;
    top: 34%;
    bottom: 25%;
    padding-top: 40px;
    text-align: left;
    padding-left: 40px;
    background: rgba(11, 26, 49, 0.32);
    left: 0%;
}
.crsl-one .carousel-caption h3 {
    font-family: "ptserif";
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 30px;
    text-align: left;
    letter-spacing: 0px;
    color: rgba(255, 255, 255, 0.8);
}
/*  halma blue background css */
.bg-halma {
    background-image: linear-gradient(to bottom right,rgba(11, 26, 49, 1), rgba(255, 255, 255, .6)),url(../img/carsl1-2-min.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    padding: 30px 15px;
}
.bg-halma h3 {
    font-family: "ptserif";
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 0px;
}
.bg-halma p {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgba(255, 255, 255, 0.85);
    width: 35%;
    opacity: 0.7;
}
/* what we do */
.purpose {
    text-align: center;
}
.what-we-do{
    font-weight: 400;
    letter-spacing: 3.2px;
    color: rgba(0, 0, 0, 0.48);
    margin-bottom: 0px;
    text-transform: uppercase;
}
.our-purpose{
    font-family: "ptserif";
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 0px;
    color: rgba(18, 31, 75, 0.8);
}
.rotate-img {
    position: relative;
    margin-top: -30px;
}
.purpose-img {
    height: 300px;
    text-align: center;
}
.img-left {
    width: 38%;
    transform: rotate(-15deg);
    padding-top: 100px;
    height: 400px;
}
.img-center {
    transform: scaleX(1.8);
    width: 20%;
    z-index: 2;
    height: 300px;
    margin-top: -36px;
    position: inherit;
}
.img-right {
    width: 38%;
    transform: rotate(15deg);
    z-index: 1;
    padding-top: 100px;
    height: 400px;
}
.holistic {
    font-size: 96px;
    font-weight: 700;
    letter-spacing: 0px;
    color: rgba(0, 214, 85, 0.5);
    margin-bottom: 30px;
}
.we-make {
    font-family: "ptserif";
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0px;
    color: rgb(17, 30, 75);
}
.the-primary {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgba(0, 0, 0, 0.8);
    opacity: 0.7;
}
.four-img {
    width: 100%;
    height: 200px;
}
.affor-txt-heading {
    font-family: "ptserif";
    font-size: 18px;
    margin-bottom: 0px;
    font-weight: 700;
    letter-spacing: 0px;
    color: rgb(43, 43, 43);
}
.know-more-txt {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0px;
    color: rgb(0, 189, 75);
}
.know-more-txt:hover {
    text-decoration: none;
    color: rgb(0, 189, 75);
}
/* our projects*/
button:focus {
    outline:none;
}
.owl-prev {
    width: 48px;
    height: 48px;
    background-color: black !important;
    position: absolute;
    top: 40%;
    margin-left: -75px;
    outline:none;
    border-radius: 25px;
  background: #73AD21;
  padding: 20px;
  width: 200px;
  height: 150px;
}
.owl-next {
    width: 48px;
    height: 48px;
    position: absolute;
    background-color: black !important;
    top: 40%;
    right: -75px;
    outline:none;
    border-radius: 25px;
  background: #73AD21;
  padding: 20px;
  width: 200px;
  height: 150px;
}
.owl-prev i, .owl-next i {
    transform : scale(2,2); 
    color: #fff;
    line-height: 14px;
}
.owl-carousel .owl-item img {
    height: 220px;
}
.insider-div {
    padding: 10px 20px;
}
.insider-div .btn-donate {
    width: 100%;
}
.insider-div h4 {
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
    letter-spacing: 0px;
    color: rgb(69, 69, 69);
}
.insider-div p {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 8px;
    letter-spacing: 0px;
    color: rgb(69, 69, 69);
}
.insider-div a {
    text-decoration: none;
}
.insider-div a {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    display: block;
    letter-spacing: 0px;
    color: rgb(0, 99, 87);
}
.insider-div .progress {
    background-color: #dbdbdc;
}
.insider-div .progress .progress-bar {
    background-color: rgb(0, 189, 75);
}
.raised {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(0, 189, 75);
}
.inr {
    font-size: 14px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.8);
    letter-spacing: 0px;
}
.inr span {
    font-weight: 400;
}
.insider-div a.btn-donate {
    color: #fff;
    font-size: 14px;
    font-weight: bold !important;
}
/* blue background */
.img-full-screen {
    width: 100%;
}
.img-small-screen {
    width: 100%;
    display: none;
}

/* student engagement */
.student-engage img {
    height: 130px !important;
    width: 130px !important;
}
.student-engage .owl-next {
    right: -60px;
}
.student-engage .owl-dots {
    display: inline-block;
    position: relative;
    left: 50%;
    margin-top: 20px;
}
.student-engage .owl-dot span {
    background: none repeat scroll 0 0 #00bd4b;
    border-radius: 20px;
    display: block;
    height: 12px;
    margin: 5px 7px;
    opacity: .7;
    width: 12px;
}
.student-engage .owl-dots .active span {
    background: none repeat scroll 0 0 #00bd4b;
    opacity: 1;
}
/* story of change */
.date {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0px;
    color: rgba(0, 0, 0, 0.36);
}
.std-name {
    font-weight: 700;
    letter-spacing: 0px;
    color: rgba(0, 0, 0, 0.64);
}
/*home page css end*/
/* halma 2020 page css start  */
.halma2020-div {
    position: relative;
}
.img-halma2020 {
    width: 100%;
    height: 300px;
}
.halma2020-caption {
    position: absolute;
    right: 32%;
    color: #fff;
    font-family: "ptserif";
    top: 100%;
    bottom: 10%;
    padding-top: 20px;
    font-weight: bold;
    text-align: left;
    padding-left: 40px;
    background: rgba(11, 26, 49, 0.32);
    left: 32%;
}
.bg-f8 {
    background-color: #f8f8f8;
}
.bg-34 {
    background-color: #3453c408;
}
.halma2020-caption h1 {
    /* text-align: center; */
    font-size: 48px;
}
.halma2020-caption h3 {
    font-size: 36px;
    color: rgba(255, 255, 255, 0.8);
    /* text-align: center; */
}
.halma-primary-txt {
    width: 50%;
    text-align: justify;
    margin-left: 25%;
}
.div-vdo-player img{
    width: 100%;
}
.lets-come-p {
    font-size: 24px !important;
    width: 50% !important;
}
.img-activism {
    width: 100%;
    height: 400px;
}
.trained-worker {
    font-family: Amiri;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 2.52px;
    color: rgb(11, 26, 49);
}
.brder-r8 {
    border-right: 2px solid #00bd4c;
}
.ls-2 {
    letter-spacing: 2px;
}
.trained-worker span {
    font-weight: 100;
}
.custom-form {
    border: 0px solid;
    background-color: #f8f8f8;
    border-bottom: 2px solid #313131;
    border-radius: 0px;
}
.custom-form:focus {
    color: #495057;
    background-color: #f8f8f8;
    border-color: transparent;
    outline: 0;
    border-bottom: 2px solid #313131;
    box-shadow: none;
}
.video-js .vjs-big-play-button {
    font-size: 20px;
    line-height: 30px;
    height: 30px;
    width: 30px;
    top: 40%;
    left: 42%;
    border: 0px solid;
    border-radius: 50%;
}
.video-js:hover .vjs-big-play-button, .video-js .vjs-big-play-button:focus {
    background-color: #73859f;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0s;
}
/* halma 2020 page css end  */
/* mac book page css start */
.img-macbook {
    width: 100%;
    height: 450px;
}
.macbook-caption {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    color: #fff;
    font-weight: bold;
    text-align: left;
    padding: 40px;
    background: rgba(11, 26, 49, 0.32);
}
.macbook-inner {
    width: 25%;
}
.txt-hindi {
    font-family: Mukta;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    letter-spacing: 0px;
    margin-bottom: 6px;
    align-items: normal;
}
.txt-hindi-h6 {
    font-family: Mukta;
    font-size: 18px;
    font-weight: 700;
}
.txt-hindi-h3 {
    font-family: Mukta;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 1.75rem;
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
}
.txt-hindi-date {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    opacity: 0.7;
    margin-bottom: 0px;
    line-height: 28px;
}
.mac-halma {
    font-family: "ptserif";
    font-size: 36px;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 0px;
    line-height: 36px;
}
.permarth-h5 {
    font-family: "ptserif";
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgba(255, 255, 255, 0.85);
    line-height: 28px;
}
/* mac book page css end */

/* about shiv ganga css start */
    .bg-svg {
        background-image: url(../svg/bg-img.svg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .svg-div {
        /* height: 130px; */
        text-align: center;
        /* width: 115px; */
        /* position: relative; */
    }
    .svg-cen {
        position: absolute;
        right: 42%;
    }
    .svg-r8 {
        margin-left: -5px;
    }
    .txt-dharma {
        font-size: 24px;
        font-weight: 600;
        padding-top: 16px;
        letter-spacing: 0px;
        color: rgb(11, 26, 49);
        line-height: 28.125px;
    }
    .img-mahesh {
        width: 100%;
    }
    .active-member-div {
        background-color: #fff;
        padding: 8px 0px 12px 16px;
    }
    .dis-mob {
        display: none;
    }
/* about shiv ganga css end */
/* about jhabua page css start */
    .bg-img {
        background-image: url(../img/img-about-jhabua2.jpeg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 300px;
    }
    .top-100 {
        margin-top: -100px;
    }
    .min-height250 {
        min-height: 250px;
    }
    .img-about3 {
        width: 100%;
        height: 350px;
    }
/* about jhabua page css end */
/* award page css start */
.owl-carousel .owl-item .t-img {
    height: 400px;
}
.gallery img {
    float: left;
    width: 20%;
    margin-right: 10px;
    height: 300px;
}
/* award page css start */
/* afforastation page css start */
    .forest-div {
        background: none;
        right: 25%;
        left: 25%;
    }
    .green-txt {
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0px;
        color: rgb(0, 189, 75);
        margin-bottom: 6px;
        /* opacity: 0.7; */
    }
    .side-by-btn span {
        background: #3453c408;
        padding: 5px 20px 11px 20px;
        font-size: 18px;
        display: block;
    }
    .side-by-btn .btn-donate {
        margin-left: -4px;
    }
/* afforastation page css end */
/* project saadh page css  start */
    .saadh-up-div {
        background: #f8f8f8;
        margin-top: -100px;
    }
    .saadh-up-div > div {
        padding-left: 20%;
        padding-right: 20%;
        padding-top: 50px;
    }
/* project saadh page css  end */
/* events page css start  */
    .time {
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0px;
        color: rgba(0, 0, 0, 0.8);
    }
    .event-view-more {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 10px;
        display: block;
        letter-spacing: 0px;
        color: rgb(0, 189, 75);
    }
    .event-view-more:hover {
        color: #00bd4b;
        text-decoration: none;
    }
    .event-div {
        background-color: #f3f4f4;
    }
    .event-div h4 {
        font-size: 18px;
        font-weight: 700;
        margin-top: 10px;
        letter-spacing: 0px;
        color: rgb(69, 69, 69);
    }
    .event-p1 {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 8px;
        letter-spacing: 0px;
        color: rgb(69, 69, 69);
    }
    .event-date {
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0px;
        color: rgba(0, 0, 0, 0.8);
    }
    .event-add {
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0px;
        color: rgba(0, 0, 0, 0.8);
    }
    .events-more-date {
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 0px;
        color: rgba(0, 0, 0, 0.64);
    }
    .events-more-loc {
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 0px;
        color: rgba(0, 0, 0, 0.72);
    }
    .event-schedule {
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 0px;
        color: rgba(0, 0, 0, 0.8);
    }
    .lineht-28 {
        line-height: 28px;
    }
    .img-event-drum {
        width: 100%;
        height: 400px;
    }
    .joinus-div {
        background: none;
        left: 4%;
        right: 10%;
        top: 10%;
    }
    .joinus-div p {
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 3.6px;
    }
    .joinus-div h3 {
        font-family: Amiri;
        font-size: 36px;
        font-weight: 400;
        color: #fff;
        letter-spacing: 0px;
    }
/* events page css end  */
/* blog page css :start */
    .img-blog {
        width: 100%;
    }
    .blogs-ul {
        border-bottom: 0px;
    }
    .blogs-ul li a{
        color: rgb(69, 69, 69) !important;
        font-size: 18px;
    }
    .blogs-ul li a.active {
        color: rgb(69, 69, 69) !important;
        border: 0px;
        font-size: 18px;
        font-weight: 600;
        background: transparent !important;
    }
    .blog-h3 {
        font-family: "ptserif";
        font-size: 24px;
        font-weight: 700;
        letter-spacing: 0px;
        color: rgb(17, 30, 75);
        line-height: 28.125px;
    }
    .min-height280 {
        min-height: 280px;
    }
    .a-col-diff {
        color: rgb(0, 99, 87);
    }
    .a-col-diff:hover {
        color: rgb(0, 99, 87);
    }
    .joinup {
        margin-top: -60px;
    }
/* blog page css :start */
/* student page css start */
    .st-div > div {
        padding-left: 10%;
        padding-right: 10%;
    }
    .stu-call {
        font-size: 18px;
    }
/* student page css end */
/* donat page css start */
    .donate-select {
        border-bottom: 1px solid gray; 
    }
    .donate-select:focus {
        outline: none; 
    }
    .donation-radio-btn {
        position: absolute;
        opacity: 0;
    }
    .donation-label {
        font-size: 18px;
        position: relative;
        z-index: 1;
        display: block;
        border: 2px solid #000;
        padding: 20px 5px;
        text-align: center;
        cursor: pointer;
    }
    .donation-radio-btn:checked+.donation-label,
    .donation-radio-btn:focus+.donation-label {
        border: 2px solid #00bd4b;
        font-weight: bold;
    }
    .pick-amount {
        padding-right: 0px;
    }
    .other-amount .other-amount-input {
        padding-left: 12px;
        font-size: 18px;
        border: 2px solid #000;
        width: 100%;
        padding: 20px 0px 20px 8px;
    }
    .other-amount .other-amount-input:focus {
        border: 2px solid #00bd4b;
        font-weight: bold;
        box-shadow: none;
        outline: none;
    }
    .custom-radio {
        position: relative;
        cursor: pointer;
        line-height: 20px;
        font-size: 16px;
        margin: 15px 0px;
        color: rgba(0, 0, 0, 0.8);
      }
      .custom-radio .custom-label {
        position: relative;
        display: block;
        float: left;
        margin-right: 10px;
        width: 20px;
        height: 20px;
        border: 2px solid #c8ccd4;
        border-radius: 100%;
        -webkit-tap-highlight-color: transparent;
      }
      .custom-radio .custom-label:after {
        content: '';
        position: absolute;
        top: 3px;
        left: 3px;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background: #00bd4b;
        transform: scale(0);
        transition: all 0.2s ease;
        opacity: 0.08;
        pointer-events: none;
      }
      .custom-radio:hover .custom-label:after {
        transform: scale(3.6);
      }
      input[type="radio"]:checked + .custom-label {
        border-color: #00bd4b;
      }
      input[type="radio"]:checked + .custom-label:after {
        transform: scale(1);
        transition: all 0.2s cubic-bezier(0.35, 0.9, 0.4, 0.9);
        opacity: 1;
      }
      .hidden {
        display: none;
      }
/* mobile view css */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 
    .navbar-nav li {
        padding-right: 2px;
    }
    .halma2020-caption {
        right: 15%;
        top: 30%;
        bottom: 10%;
        padding-left: 40px;
        left: 20%;
    }
    .joinus-div {
        background: none;
        left: 4%;
        right: 10%;
        top: 10%;
    }
    .macbook-inner {
        width: 45%;
    }
}
@media only screen and (max-width: 1023px) {
    .col-eq-height div:nth-child(5) {
        margin-top: 20px;
    }
}
@media only screen and (max-width: 767px) {
    .navbar-nav li:first-child {
        padding-left: 0px;
    }
    .crsl-one .carousel-caption {
        position: absolute;
        right: 25%;
        top: 20%;
        bottom: 18%;
    }
    .crsl-one .carousel-caption h3 {
        font-size: 40px;
    }
    .holistic {
        font-size: 48px;
        margin-top: 20px;
    }
    .student-engage .owl-next {
        right: 0px;
    }
    .owl-next {
        right: 0px;
    }
    .owl-prev {
        margin-left: 0px;
    }
    .student-engage .owl-dots {
        left: 38%;
    }
    .student-engage img {
        margin-left: 20px;
    }
    .img-left {
        width: 32%;
        height: 330px;
    }
    .img-center {
        height: 250px;
        margin-top: 20px;
    }
    .img-right {
        width: 32%;
        height: 330px;
    }
    .img-full-screen {
        display: none;
    }
    .img-small-screen {
        display: block;
    }
    .fl-shiv {
        padding-left: 0px;
    }
    .fl-vikas {
        padding-left: 0px;
        padding-bottom: 30px;
    }
    .fmt-shiv {
        border-right: 0px solid;
    }
    /* halma2020 */
    .halma2020-caption {
        right: 10%;
        top: 25%;
        bottom: 10%;
        padding-top: 15px;
        padding-left: 15px;
        left: 10%;
    }
    .joinus-div {
        background: none;
        left: 4%;
        right: 4%;
        top: 0%;
    }
    .halma-primary-txt {
        width: 100%;
        text-align: left;
        margin-left: 0%;
    }
    .brder-r8 {
        border-right: 0px solid #00bd4c;
        padding-bottom: 30px;
    }
    .lets-come-p {
        width: 70% !important;
    }
    .macbook-inner {
        width: 100%;
    }
    .dis-mob {
        display: block;
        max-height: 5px;
    }
    .bg-svg {
        background-size: contain;
    }
    .svg-cen {
        right: 45%;
    }
    .min-height250 {
        min-height: 0px;
    }
    .joinup {
        margin-top: 0px;
        margin-bottom: 30px;
    }
    .top-100 {
        margin-bottom: 30px;
        margin-top: 0px;
    }
    .pick-amount {
        padding-right: 15px;
    }
}
@media only screen and (max-width: 380px) {
    .img-left {
        width: 30%;
    }
    .img-right {
        width: 31%;
    }
}

